$color1: #020F59;
$Color2: #77B9F2;
$Color3: #E9EFF2;
$Color4: #D1F2D0;
$Color5: #8DF244;
@mixin INDEX(){
    font-size:1.7vw;
    color:$color1;
    background-color: $Color2;
    grid-area: "aside";
    display:grid;
}
@mixin paraghraps(){
    font-size:1.5vw;
}
h1{
    font-size:4vw;
}

main{
    display:grid;
   grid-template-columns: 0.12fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "sidebar main main "
    "sidebar main main";
    section{
        padding:0.9vw;
    }
}
.nav{
    @include INDEX();
    ol{
        display: grid;
        grid-template-columns: repeat(1fr,37);
        gap:1.5vw;
        justify-content: center;
    }
}
.main-container{
    grid-area: "main";
}
@media  (max-width:700px) {
    .nav{
        font-size:4vw;
    }
    h1{
        font-size: 7vw;
    }
}
p{
    @include paraghraps();
}